.top-section {
  background-color: #264653;
}
.top-section .purchase-button {
  background-color: #e76f51;
}
.col-org {
  color: #e76f51;
}
.col-blue {
  color: #23a6f0;
}
.featured div:nth-child(odd) img {
  filter: grayscale(100%);
}
.star-icon {
  width: 20px;
}
.star-icon-blank {
  width: 18px;
}
